@model Unity.Models.Meetings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meetings</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayofWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayofWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeofDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeofDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeetingsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
