@model IEnumerable<Unity.Models.Meetings>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.DayofWeek)*@
            Time
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.TimeofDay)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MapLink)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayofWeek)
                @Html.DisplayFor(modelItem => item.TimeofDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.MapLink)" target="_blank"><img src="~/Content/compass.png" /></a>

            </td>
            @if (Request.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MeetingsID }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.MeetingsID }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.MeetingsID })
                </td>
            }
        </tr>
    }

</table>
